.hero {
  padding: 60px 80px;
  margin-top: 77px;
  background: linear-gradient(45deg, #a1a5a238, transparent);
  border-bottom: 1px solid #4646462e;

  .left {
    max-width: 500px;
  }

  h1 {
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
  }

  p {
    margin-top: 30px;
    font-weight: light;
    line-height: 1.5em;
    font-size: 1em;
  }
}
