.post {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 4em 18em;
  word-wrap: break-word;

  @media (max-width: 400px) {
    padding: 50px 40px;
  }
}
